{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Body -->
  <div id="wrapper">
    <div class="wrapper-inner">
	  {% include 'partial_menu.html' %}
    <div class="bg_cont">

    <!-- Maintop -->

    <!-- Main Content row -->
    <div id="content-row">
      <div class="row-container">
        <div class="container">
          <div class="content-inner row">

            <!-- Left sidebar -->

            <div id="component" class="span12">
              <!-- Breadcrumbs -->

              <!-- Content-top -->

                <div class="page-item page-item__">


		<div class="item_header">
      <h3 class="item_title">										<span class="item_title_part0">Bonding</span> <span class="item_title_part1">and</span> <span class="item_title_part2">White</span> <span class="item_title_part3">Filling</span> 					</h3>
    </div>

	<div class="item_fulltext"><p>Bonding is a popular method to enhance the aesthetics of your smile. Bonding can be used to correct cracks or gaps in teeth, as a filling after a cavity has been removed, or to cover up stains or discolored teeth.</p>
<p>A composite resin is used on the affected tooth or teeth. It is molded and sculpted over an adhesive gel that is placed on the tooth. After the resin has been applied an ultraviolet light is used to harden the resin, which is then polished to give you a fresh, new smile.</p>
<p>Bonding is an obvious improvement over unsightly silver amalgam fillings. With the advancements in dental technology, bonding usually lasts for over 10 years. It is a safe, affordable, and attractive solution for many dental problems.</p>


    </div>
              <!-- Content-bottom -->
                          </div>

            <!-- Right sidebar -->
                      </div>
        </div>
      </div>
    </div>
    <!-- Mainbottom -->

        <!-- Bottom -->
    </div>
    </div>
  </div>
{% endblock %}
