{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Body -->
  <div id="wrapper">
    <div class="wrapper-inner">
    {% include 'partial_menu.html' %}

    <!-- Feature -->

    <div class="bg_cont">

    <!-- Maintop -->

    <!-- Main Content row -->
    <div id="content-row">
      <div class="row-container">
        <div class="container">
          <div class="content-inner row">

            <!-- Left sidebar -->

            <div id="component" class="span8">
              <!-- Breadcrumbs -->

              <!-- Content-top -->


<div id="system-message-container">
<div id="system-message">
</div>
</div>
                <div class="page-item page-item__">


		<div class="item_header">
		<h3 class="item_title">										<span class="item_title_part0">Beautiful</span> <span class="item_title_part1">Smiles</span> <span class="item_title_part2">in</span> <span class="item_title_part3">6</span> <span class="item_title_part4">Months!</span> 					</h3>	</div>





					<div class="item_img img-full img-full__left item-image"> <img
		src="{% static 'images/block-powerprox.png' %}" alt=""/> </div>

	<div class="item_fulltext">
<h2>Powerprox Six Month Braces® Technique</h2>
<p>The Powerprox Six Month Braces® Technique is a fast, affordable way to give you the smile you always wanted in just six months – that’s right, six months! The Powerprox Six Month Braces® Technique will move your front teeth to their most beautiful position giving you a great smile. Whether your teeth are crowded together, overlapped, or have spaces between them, the Powerprox Six Month Braces® Technique will give you the smile you always wanted in just six months. This technique was developed by Dr. Richard DePaul, Jr. and we are currently the only one certified around the Monterey Bay area.</p>
<p>Please give us a call to schedule your free consultation appointment to see if six month braces would be a great fit for you!</p>
<p><a title="Click Here to get more information on Six Month Braces" href="http://www.sixmonthbraces.com/" target="_blank">Click Here to get more information on Six Month Braces</a></p>
</div>
	<!-- Pagination -->
		</div>


              <!-- Content-bottom -->
                          </div>

          {% include 'partial_hours.html' %}
                      </div>
        </div>
      </div>
    </div>
    <!-- Mainbottom -->

        <!-- Bottom -->


    </div>

    </div>
  </div>
{% endblock %}
