{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Body -->
  <div id="wrapper">
    <div class="wrapper-inner">
	  {% include 'partial_menu.html' %}
    <div class="bg_cont">

    <!-- Maintop -->

    <!-- Main Content row -->
    <div id="content-row">
      <div class="row-container">
        <div class="container">
          <div class="content-inner row">

            <!-- Left sidebar -->

            <div id="component" class="span12">
              <!-- Breadcrumbs -->

              <!-- Content-top -->

                <div class="page-item page-item__">


		<div class="item_header">
      <h3 class="item_title">
        <span class="item_title_part0">Bridges</span>
      </h3>
    </div>

	<div class="item_fulltext">
    <p>Dental bridges are a great way to replace missing teeth. Your existing teeth are used to literally create a bridge to cross the area where your tooth is missing. Bridges are made from gold, metal, alloys, or porcelain to ensure that they are strong and durable.&nbsp;</p>
<p>&nbsp;The process of creating a bridge begins by creating abutments out of your existing teeth where the bridge will be attached. The existing teeth are&nbsp;re-contoured&nbsp;to provide a base for the bridge. After the abutments have been created, a mold is taken of the area which is sent to a dental lab. The lab is able to use the mold to create a bridge that will fit properly and feel as close to your natural teeth as possible. The bridge consists of two crowns on either end to place on the abutments and a pontic, which is the new tooth that replaces your missing tooth.&nbsp;</p>
<p>We will fit you with a temporary bridge while we wait for the lab to craft your permanent bridge. This will protect the abutments and the exposed gum areas and look more appealing than having a missing tooth. When the permanent bridge has been created, you will have a follow up visit to set the bridge. It will be placed on the abutments and the dentist will then use an adhesive to make sure that the bridge is set.&nbsp;</p>
<p>&nbsp;The bridge may take a little while to get used to, but after a few days it should feel like you have your own teeth back again. You should eat soft foods for the first few days after having your bridge placed. After the initial phase, you will be able to eat whatever you want with no issues.&nbsp;</p>
<p>&nbsp;If you are missing a tooth you should strongly consider having it replaced. Besides the aesthetic disadvantage of missing a tooth, it could also cause structural changes to your mouth and jaw, as well as making it difficult to eat or speak properly. Set up an appointment today to restore your smile.</p>
    </div>
              <!-- Content-bottom -->
                          </div>

            <!-- Right sidebar -->
                      </div>
        </div>
      </div>
    </div>
    <!-- Mainbottom -->

        <!-- Bottom -->
    </div>
    </div>
  </div>
{% endblock %}
