{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Body -->
  <div id="wrapper">
    <div class="wrapper-inner">
	  {% include 'partial_menu.html' %}
    <div class="bg_cont">

    <!-- Maintop -->

    <!-- Main Content row -->
    <div id="content-row">
      <div class="row-container">
        <div class="container">
          <div class="content-inner row">

            <!-- Left sidebar -->

            <div id="component" class="span12">
              <!-- Breadcrumbs -->

              <!-- Content-top -->

                <div class="page-item page-item__">


		<div class="item_header">
      <h3 class="item_title">
        <span class="item_title_part0">Crowns</span>
      </h3>
    </div>

	<div class="item_fulltext">
    <p>Over time our teeth begin to weaken and become more susceptible to problems such as decay, cracks, discoloration and others. If you feel your smile isn’t what it once was, crowns can help you recover your smile. If your dentist notices that a tooth is decayed or seems weakened/cracked a crown may be necessary to make sure that there are no additional problems with the tooth. In cases like this a filling or bonding will not be sufficient.&nbsp;</p>
<p>Crowns can be made from porcelain, porcelain fused to metal, or a full gold crown. To maintain a natural look and feel a porcelain finished crown is best, as it can be matched to the shade of your other teeth. This will allow it to blend in and appear just like one of your natural teeth.</p>
<p>The process of installing a crown takes 2-3 visits to the dentist. On the first visit the tooth will be reshaped by filing down the enamel so that the crown can be placed over it. You will be given a local anesthetic before this part of the procedure so that you do not experience any discomfort. Once the tooth has been reshaped, a mold will be taken of that tooth and the surrounding teeth. This mold will be sent to a dental lab so that your new crown can be made so that it fits in the spot created for it and looks the same relative to the surrounding teeth. Before leaving, your dentist will fit you with a temporary crown until your permanent crown is ready.&nbsp;</p>
<p>The crown takes about 2-3 weeks to be returned to your dentist. At this time you will have another appointment to place and fit the permanent crown. You will again have a local anesthetic to numb the area and the tooth will be placed using a cement to ensure the tooth sets in place. When you look in the mirror, you will see your old smile back. Crowns are durable and will usually last about 10-15 years. You should care for it as you would any of your other teeth with regular brushing and flossing. Call us today if you would like to learn more about how crowns can help restore your smile.</p>
    </div>
              <!-- Content-bottom -->
                          </div>

            <!-- Right sidebar -->
                      </div>
        </div>
      </div>
    </div>
    <!-- Mainbottom -->

        <!-- Bottom -->
    </div>
    </div>
  </div>
{% endblock %}
