{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Body -->
  <div id="wrapper">
    <div class="wrapper-inner">
	  {% include 'partial_menu.html' %}
    <div class="bg_cont">

    <!-- Maintop -->

    <!-- Main Content row -->
    <div id="content-row">
      <div class="row-container">
        <div class="container">
          <div class="content-inner row">

            <!-- Left sidebar -->

            <div id="component" class="span12">
              <!-- Breadcrumbs -->

              <!-- Content-top -->

                <div class="page-item page-item__">


		<div class="item_header">
      <h3 class="item_title">
        <span class="item_title_part0">Dentures</span>
      </h3>
    </div>

	<div class="item_fulltext">
    <p>Dentures are a replacement for missing teeth that can be removed and put back into your mouth as you please. Depending on each individual patient case, they may receive full or partial dentures. Full dentures are used when all of the natural teeth are removed from the mouth and replaced with a full set of dentures. There are two types of full dentures.</p>
<ul>
<li class="firstItem">Conventional Full Dentures&nbsp;- This is when all the teeth are removed and the tissue is given time to heal before the dentures are placed. It could take a few months for the gum tissue to heal completely, and during this time you will be without teeth.</li>
<li class="lastItem">Immediate Full Dentures&nbsp;- Prior to having your teeth removed, your dentist takes measurements and has dentures fitted for your mouth. After removing the teeth, the dentures are immediately placed in your mouth. The benefit is that you do not have to spend any time without teeth. You will, however, need to have a follow up visit to refit your dentures because the jaw bone will slightly change shape as your mouth heels. The dentures will need to be tightened after the jaw bone has healed.</li>
</ul>
<p>&nbsp;Partial dentures are another option when not all of your teeth need to be removed. This is similar to a bridge, but it is not a permanent fixture in your mouth.&nbsp;&nbsp;</p>
<p>Your dentures may take some time to get used to. The flesh colored base of the dentures is placed over your gums. Some people say that it feels bulky or that they don't have enough room for their tongue. Other times the dentures might feel loose. These feelings will affect the way you eat and talk for a little while. Over time, your mouth becomes trained to eat and speak with your dentures and they begin to feel more and more like your natural teeth. They may never feel perfectly comfortable, but it is much better than the alternative of not having teeth.&nbsp;</p>
<p>Even though dentures are not real teeth, you should care for them like they are. You should brush them to remove plaque and food particles before removing your dentures. After they have been removed you should place them directly into room temperature water or a denture cleaning solution. Never use hot water because it could warp the dentures. Your dentures are delicate, so make sure you are careful when handling them so you don't drop them. Also, never try to adjust your dentures yourself. You could ruin them, so you should always seek assistance from your dentist if they feel uncomfortable or loose.</p>
    </div>
              <!-- Content-bottom -->
                          </div>

            <!-- Right sidebar -->
                      </div>
        </div>
      </div>
    </div>
    <!-- Mainbottom -->

        <!-- Bottom -->
    </div>
    </div>
  </div>
{% endblock %}
