{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Body -->
  <div id="wrapper">
    <div class="wrapper-inner">
	  {% include 'partial_menu.html' %}
    <div class="bg_cont">

    <!-- Maintop -->

    <!-- Main Content row -->
    <div id="content-row">
      <div class="row-container">
        <div class="container">
          <div class="content-inner row">

            <!-- Left sidebar -->

            <div id="component" class="span12">
              <!-- Breadcrumbs -->

              <!-- Content-top -->

                <div class="page-item page-item__">


		<div class="item_header">
      <h3 class="item_title">
        <span class="item_title_part0">Extractions</span>
      </h3>
    </div>

	<div class="item_fulltext">
    <p>Wisdom teeth extractions are a fairly common procedure. Wisdom teeth often cause problems as they are trying to protrude through the gums. When a wisdom tooth is impacted, it means the tooth is coming in at an angle and not straight through the gum line. This can cause pain, the tooth can come in unevenly, or the tooth may only emerge partially.&nbsp;&nbsp;</p>
<p>When a wisdom tooth only emerges partially a flap of skin, called an operculum, may form over the tooth. This can make the tooth hard to clean, and pieces of food may be caught under the skin. This makes it easy for an infection, called pericoronitis, to develop. It will usually go away on its own, but it causes swelling and pain in the area.&nbsp;</p>
<p>Impacted teeth and wisdom teeth that can potentially cause problems, like infections, need to be removed. Extractions can range from a single tooth, to removing all four wisdom teeth at once. Based on the preference of the doctor and/or the patient, a local anesthetic could be used to numb the areas where the teeth will be extracted. Others will prefer to go under a general anesthetic so that they will be sedated during the procedure.&nbsp;&nbsp;</p>
<p>The gum tissue around the wisdom tooth is cut open to reveal the tooth. The tooth is loosened by gripping it tightly and wiggling it back and forth until it can be lifted out of the gums. Sometimes a tooth may be impacted so tightly that it cannot be simply lifted out of the gums. In cases like this the tooth will be broken up into pieces first before being removed. Depending on the incision and extraction site, sutures may be needed to close the area. Soluble sutures are the best option, which will dissolve on their own.&nbsp;</p>
<p>After the surgery you will need to rest. You need to be driven home by a friend or family member because of the anesthesia. You can expect for the extraction site to bleed for a little while after the surgery. Gauze will be applied at the completion of the surgery, and you will need to change it when it becomes soaked. If bleeding continues for longer than 24 hours you should call your dentist. Rest when you return home, but do not lie flat. This could prolong the bleeding. Prop your head up on a pillow when lying down. Your dentist will prescribe you pain medication, so if you become sore take as directed. You can also use an ice pack for the pain. Your dentist might also provide you with a cleaning solution to clean the extraction site.&nbsp;&nbsp;</p>
<p>You will be limited to soft foods for a few days after your surgery. Some recommended foods are:&nbsp;</p>
<ul>
<li class="firstItem">Gelatin</li>
<li>Pudding</li>
<li>Yogurt</li>
<li>Mashed Potatoes</li>
<li>Ice Cream</li>
<li>Thin Soups</li>
<li class="lastItem">...and other food you can eat without chewing.</li>
</ul>
<p>&nbsp;</p>
<p>When drinking, make sure you do not use a straw. The sucking motion can loosen your sutures and slow the clotting process. The same goes for smoking. If you have prolonged pain, bleeding, irritation, or don't feel that the extraction site is healing properly call your dentist for a follow up.</p>
    </div>
              <!-- Content-bottom -->
                          </div>

            <!-- Right sidebar -->
                      </div>
        </div>
      </div>
    </div>
    <!-- Mainbottom -->

        <!-- Bottom -->
    </div>
    </div>
  </div>
{% endblock %}
