{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Body -->
  <div id="wrapper">
    <div class="wrapper-inner">
	  {% include 'partial_menu.html' %}
    <div class="bg_cont">

    <!-- Maintop -->

    <!-- Main Content row -->
    <div id="content-row">
      <div class="row-container">
        <div class="container">
          <div class="content-inner row">

            <!-- Left sidebar -->

            <div id="component" class="span12">
              <!-- Breadcrumbs -->

              <!-- Content-top -->

                <div class="page-item page-item__">


		<div class="item_header">
      <h3 class="item_title">
        <span class="item_title_part0">Night Guards</span>
      </h3>
    </div>

	<div class="item_fulltext">
    <p>Many people are afflicted with bruxism, or teeth grinding. Some people may do this consciously during the day, but it is a larger problem at night while you are asleep. Grinding your teeth can damage enamel, wear down teeth, cause jaw pain, or irritate your gums. The noise from teeth grinding can also disturb your spouse's sleep if loud enough.&nbsp;</p>
  <p>If you grind your teeth you should consider a night guard. The night guard, which is very similar to a mouth guard worn by athletes, provides a barrier between your top and bottom teeth while you sleep. All night guards are custom fitted for comfort and to allow for proper breathing. Your dentist will take an impression of your teeth and have the night guard created by a dental lab. Night guards are very durable and can be used for up to 10 years.&nbsp;</p>
  <p>There are also some things that you can do to try to stop teeth grinding. You can train your jaw to be free and easy rather than clenched. Refrain from chewing gum or on other objects like pens. You should also avoid alcoholic drinks and drinks with caffeine, as these can increase the likelihood you will grind your teeth. If you suspect you might be grinding your teeth at night set up an appointment with us today.</p>
  </div>
              <!-- Content-bottom -->
                          </div>

            <!-- Right sidebar -->
                      </div>
        </div>
      </div>
    </div>
    <!-- Mainbottom -->

        <!-- Bottom -->
    </div>
    </div>
  </div>
{% endblock %}
