{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Body -->
  <div id="wrapper">
    <div class="wrapper-inner">
	  {% include 'partial_menu.html' %}
    <div class="bg_cont">

    <!-- Maintop -->

    <!-- Main Content row -->
    <div id="content-row">
      <div class="row-container">
        <div class="container">
          <div class="content-inner row">

            <!-- Left sidebar -->

            <div id="component" class="span12">
              <!-- Breadcrumbs -->

              <!-- Content-top -->

                <div class="page-item page-item__">


		<div class="item_header">
      <h3 class="item_title">
        <span class="item_title_part0">Dental Implants</span>
      </h3>
    </div>

	<div class="item_fulltext">
    <p>Dental implants are a permanent and appealing solution to replace missing or extracted teeth. They are better than other alternatives like bridges because no additional teeth need to be altered to place the new tooth.&nbsp;</p>
<p>The entire implant process is performed over the course of a few months. The first part of the process is to install the implant itself, where a screw is placed into the jaw bone. An incision is made in the gum so that the implant can be inserted. Multiple implants can be placed at once if necessary. After the implants are placed the gums are sutured.&nbsp;</p>
<p>The implant must be allowed about 3-6 months to heal, and during this time the jaw bone will form around the implant in a process called osseointegration. During this healing time you can have temporary crowns installed so that you can eat and speak normally and maintain a proper aesthetic appearance for your smile.&nbsp;</p>
<p>After the implant has healed it is time to place an abutment on the implant. The abutment serves as the base for your new tooth. One this is placed an impression of the abutment is taken and is used to create your permanent restoration. Some offices have an onsite lab to create the crown, but others will have to send it to an outside lab. Once the restoration is completed you can return to the office to attach the restoration permanently. Your smile will look just like it used to, and after a short period of getting used to the implant it will feel just like one of your own teeth.</p>
  </div>
              <!-- Content-bottom -->
                          </div>

            <!-- Right sidebar -->
                      </div>
        </div>
      </div>
    </div>
    <!-- Mainbottom -->

        <!-- Bottom -->
    </div>
    </div>
  </div>
{% endblock %}
