{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Body -->
  <div id="wrapper">
    <div class="wrapper-inner">
	  {% include 'partial_menu.html' %}
    <div class="bg_cont">

    <!-- Maintop -->

    <!-- Main Content row -->
    <div id="content-row">
      <div class="row-container">
        <div class="container">
          <div class="content-inner row">

            <!-- Left sidebar -->

            <div id="component" class="span12">
              <!-- Breadcrumbs -->

              <!-- Content-top -->

                <div class="page-item page-item__">


		<div class="item_header">
		<h3 class="item_title">										<span class="item_title_part0">Invisalign</span> 					</h3>	</div>





					<div class="item_img img-full img-full__left item-image"> <img
		src="{% static 'images/invisi.jpg' %}" alt=""/> </div>

	<div class="item_fulltext"><h2>Why Invisalign Treatment</h2>
    <p>Choose the clear aligner system committed to continuous innovation, with 20 years of clinical research and more than 700 patents. No other clear aligner is backed by the data and experience of 4 million cases.</p>
    <h2><strong>Up to 50% faster treatment times</strong></h2>
    <p>With weekly aligner changes, you’re on your way to the smile you want even faster.</p>
    <h2><strong>Proven results </strong></h2>
    <p>SmartTrack® material and SmartForce® features are clinically proven to achieve 75% more predictable tooth movement.</p>
    <h2><strong>Better fit, better comfort </strong></h2>
    <p>Aligners made from SmartTrack material are more comfortable, better fitting, and easier to put on and take off.</p>
    <h2><strong>Effective for a wide variety of cases</strong></h2>
    <p>Proprietary SmartForce features and SmartTrack material make Invisalign treatment effective for complex cases. With innovations like these, your doctor can move your teeth more precisely.</p>
    <h2><strong>Unique feature for teens </strong></h2>
    <p>Invisalign clear aligners for teens contain compliance indicators that fade from blue to clear to help gauge wear time.</p>
    	<!-- Pagination -->
    </div>
              <!-- Content-bottom -->
                          </div>

            <!-- Right sidebar -->
                      </div>
        </div>
      </div>
    </div>
    <!-- Mainbottom -->

        <!-- Bottom -->
    </div>
    </div>
  </div>
{% endblock %}
