{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Body -->
  <div id="wrapper">
    <div class="wrapper-inner">
	  {% include 'partial_menu.html' %}
    <!-- Feature -->
      <div class="bg_cont">
      <!-- Maintop -->
      <!-- Main Content row -->
        <div id="content-row">
          <div class="row-container">
            <div class="container">
              <div class="content-inner row">
                <!-- Left sidebar -->
                  <div id="component" class="span8">
                  <!-- Breadcrumbs -->
                    <div class="page-item page-item__gallery">
                  		<div class="item_header">
                    		<h3 class="item_title">
                          <span class="item_title_part0">Our</span> <span class="item_title_part1">Staff</span>
                        </h3>
                      </div>
                    	<div class="item_fulltext">
                        <table>
                        <tbody>
                        <tr>
                        <td>
                        <div class="category_desc">
                        <div class="item_img img-intro img-intro__left"><img class="BWFilter BWfade" style="position: absolute; top: 0px; left: 0px; display: none; -webkit-filter: grayscale(100%); width: 168px; height: 200px;" src="{% static 'images/tyson.jpg' %}" alt="" width="168" height="200" /> <img src="{% static 'images/tyson.jpg' %}" alt="" /></div>
                        <h1>Tyson</h1>
                        <p>Tyson is our Registered Dental Hygienist for Salinas Smiles Dental Group since July 2016. Tyson started out as a dental assistant since September 2000. He graduated from Carrington College of California, in San Jose. He graduated in April 2015 with honors and received his Associate’s Science degree. He thrives to provide the highest standard of care to his patients. During his free time, he enjoys outdoor activities, biking and hiking.</p>
                        </div>
                        </td>
                        </tr>
                        <tr>
                        <td>
                        <div class="category_desc">
                        <div class="item_img img-intro img-intro__left"><img class="BWFilter BWfade" style="position: absolute; top: 0px; left: 0px; display: none; -webkit-filter: grayscale(100%); width: 168px; height: 200px;" src="{% static 'images/merie.jpg' %}" alt="" width="168" height="200" /> <img src="{% static 'images/merie.jpg' %}" alt="" /></div>
                        <h1>Merie</h1>
                        <p>Merie, is our Office manager. She has been the in dental field for over 14 years. She started out as a dental assistant. She went to School in Silicon Valley College in 2004 and Heald College in 2010. Graduated with honors and received her Associate’s Science degree. She had the pleasure to work for Alameda County Sheriff’s Office in 2012-2013. She recently moved to the Monterey County and has been with Salinas Smiles Dental Group since November 2016. She absolutely loves her job, especially helping and interacting with patients. She enjoys traveling and going outdoors with her husband and kids.</p>
                        </div>
                        </td>
                        </tr>
                        <tr>
                        <td>
                        <div class="category_desc">
                        <div class="item_img img-intro img-intro__left"><img class="BWFilter BWfade" style="position: absolute; top: 0px; left: 0px; display: none; -webkit-filter: grayscale(100%); width: 168px; height: 200px;" src="{% static 'images/angela.jpg' %}" alt="" width="168" height="200" /> <img src="{% static 'images/angela.jpg' %}" alt="" /></div>
                        <h1>Angela</h1>
                        <p>Angela, is our Insurance and Patient Coordinator. She is your main resource in coordinating your insurance benefits. She helps our patients understand their dental insurance benefits. She joined Salinas Smiles Dental Group in November of 2015. Her greatest joy is to see our Patient's walk out the door with a Wonderful Smile. Patient care is what she thrives for in the office. She absolutely loves spending time with her Family.</p>
                        </div>
                        </td>
                        </tr>
                        <tr>
                        <td>
                        <div class="category_desc">
                        <div class="item_img img-intro img-intro__left"><img class="BWFilter BWfade" style="position: absolute; top: 0px; left: 0px; display: none; -webkit-filter: grayscale(100%); width: 168px; height: 200px;" src="{% static 'images/chloe.jpg' %}" alt="" width="168" height="200" /> <img src="{% static 'images/chloe.jpg' %}" alt="" /></div>
                        <h1>Chloe</h1>
                        <p>Chloe, is our Account Specialist and Patient Coordinator. She is currently attending Monterey Peninsula College, majoring in Business Administration. She is great at gathering, organizing, and recording data, while analyzing and resolving patient queries in an accurate and timely manner. She joined Salinas Smiles Dental Group in January 2017. She enjoys getting to know our patients and their families. During her free time she loves baking, studying and shopping.</p>
                        </div>
                        </td>
                        </tr>
                        <tr>
                        <td>
                        <div class="category_desc">
                        <div class="item_img img-intro img-intro__left"><img class="BWFilter BWfade" style="position: absolute; top: 0px; left: 0px; display: none; -webkit-filter: grayscale(100%); width: 168px; height: 200px;" src="{% static 'images/leslie.jpg' %}" alt="" width="168" height="200" /> <img src="{% static 'images/leslie.jpg' %}" alt="" /></div>
                        <h1>Leslie</h1>
                        <p>Leslie, is our Lead Dental Assistant. She has been with Salinas Smiles Dental Group since January of 2014. She graduated from Regional Occupational Program in June 2009. She seeks to ensure that her patients are comfortable in each visits. She feels most rewarding when she is seeing a patient with a confident smile after treatment and empowering them to take control of their dental care. She loves going to the beach with her husband, son, and her Australian Shepherds dogs.</p>
                        </div>
                        </td>
                        </tr>
                        <tr>
                        <td>
                        <div class="category_desc">
                        <div class="item_img img-intro img-intro__left"><img class="BWFilter BWfade" style="position: absolute; top: 0px; left: 0px; display: none; -webkit-filter: grayscale(100%); width: 168px; height: 200px;" src="{% static 'images/olivia.jpg' %}" alt="" width="168" height="200" /> <img src="{% static 'images/olivia.jpg' %}" alt="" /></div>
                        <h1>Olivia</h1>
                        <p>Olivia is our dental assistant. She Joined Salinas Smiles Dental Group in February 2015. She been a dental assistant since 2012. She graduated from Kaplan College in 2012. Her favorite part of her job is when she can gradually see a new patient who is very apprehensive, due to bad experiences, grow into a comfortable patient who is no longer afraid to have their dental work done. During her free time she like to go hiking with her dog.</p>
                        </div>
                        </td>
                        </tr>
                        <tr>
                        <td>
                        <div class="category_desc">
                        <div class="item_img img-intro img-intro__left"><img class="BWFilter BWfade" style="position: absolute; top: 0px; left: 0px; display: none; -webkit-filter: grayscale(100%); width: 168px; height: 200px;" src="{% static 'images/yaria.jpg' %}" alt="" width="168" height="200" /> <img src="{% static 'images/yaria.jpg' %}" alt="" /></div>
                        <h1>Yaria</h1>
                        <p>Yaria, is our Dental Assistant. She was recruited from Regional Occupational Program in February 2017 and joined Salinas Smiles Dental Group. She is thankful to having such a loving and awesome staff. Her main focus is patient care and making sure each patient is leaving with an extraordinary smile on their face. She loves to spend all her free time with her Daughter and Husband.</p>
                        </div>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                      </div>
    		            </div>
                  </div>
                  {% include 'partial_hours.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
