{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Body -->
  <div id="wrapper">
    <div class="wrapper-inner">
	  {% include 'partial_menu.html' %}
    <div class="bg_cont">

    <!-- Maintop -->

    <!-- Main Content row -->
    <div id="content-row">
      <div class="row-container">
        <div class="container">
          <div class="content-inner row">

            <!-- Left sidebar -->

            <div id="component" class="span12">
              <!-- Breadcrumbs -->

              <!-- Content-top -->

                <div class="page-item page-item__">


		<div class="item_header">
      <h3 class="item_title">
        <span class="item_title_part0">TMJ</span>
      </h3>
    </div>

	<div class="item_fulltext">
    <p>TMJ is the acronym for temporomandibular joint, which connects your lower jaw (the mandible) to your skull at the temporal bone. This joint controls many jaw functions, like chewing. If the chewing muscles or the joint itself are causing you pain you may have temporamandibular disorder, or TMD. TMD can be caused by stress, continual clenching of the jaw muscles, or teeth grinding.&nbsp;</p>
<p>Some of the symptoms of TMD are:&nbsp;</p>
<ul>
<li class="firstItem">Pain when opening or closing mouth</li>
<li>Trouble chewing</li>
<li>Jaw becoming stuck open or shut</li>
<li>Headaches or ear pain</li>
<li>Clicking or popping sounds when opening your mouth</li>
<li class="lastItem">Teeth Grinding</li>
</ul>
<p>Many of these symptoms can often be associated with other health problems, so only a medical professional can tell you if it is due to TMD. Teeth grinding is an especially problematic symptom because it can lead to further problems. Prolonged teeth grinding, or bruxism, can cause enamel to wear off teeth and expose dentin. This material is softer than enamel and more susceptible to decay. Sensitivity to hot and cold food or drink may also develop from excessive teeth grinding.&nbsp;</p>
<p>If you suspect you may have TMD come in for a consultation. We can help diagnose you and provide relief for your symptoms. Pain relievers and hot/cold compresses are short term methods to provide relief for pain symptoms. A night guard can be used to help prevent or lessen the effects of teeth grinding at night. This can lead to a more permanent solution. In very severe cases of TMD surgery may be required, but behavioral treatments to change the way you use your jaw muscles are usually enough to provide relief.</p>
  </div>
              <!-- Content-bottom -->
                          </div>

            <!-- Right sidebar -->
                      </div>
        </div>
      </div>
    </div>
    <!-- Mainbottom -->

        <!-- Bottom -->
    </div>
    </div>
  </div>
{% endblock %}
