{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Body -->
  <div id="wrapper">
    <div class="wrapper-inner">
	  {% include 'partial_menu.html' %}
    <div class="bg_cont">

    <!-- Maintop -->

    <!-- Main Content row -->
    <div id="content-row">
      <div class="row-container">
        <div class="container">
          <div class="content-inner row">

            <!-- Left sidebar -->

            <div id="component" class="span12">
              <!-- Breadcrumbs -->

              <!-- Content-top -->

                <div class="page-item page-item__">


		<div class="item_header">
      <h3 class="item_title">
        <span class="item_title_part0">Veneers</span>
      </h3>
    </div>

	<div class="item_fulltext">
    <p>Veneers are an excellent way to redesign and reshape your entire mouth. Veneers are a very thin ceramic shell that covers your existing tooth structure. In placing these new veneers on your teeth, you are able to fix the look of issues such as staining, cracked teeth, spaces, misaligned teeth, chipped teeth and many other issues.&nbsp;</p>
  <p>In terms of the process to place veneers, it is a process that takes approximately two to three visits. In the first visit, we will discuss the new shape and look of what we are going to accomplish by placing the veneers. Once we have put a plan in place, we will carefully prepare the teeth for the placement of the new veneers. As we complete this piece of the process, the next step is to take an impression of the newly prepared teeth. This impression will be sent to our laboratory for the final product to be fabricated. We only utilize the highest standard laboratory for fabrication of all of our work. This process at the laboratory takes between 10-14 days. While the new veneers are being fabricated at the lab, we will provide you with a beautiful temporary solution to wear for this time.&nbsp;</p>
  <p>As the veneers are finalized, we will make every effort to make sure that your new veneers will feel just like your natural teeth. We will bond them into place ensuring that you can enjoy your new smile for a very long time!</p> 
  </div>
              <!-- Content-bottom -->
                          </div>

            <!-- Right sidebar -->
                      </div>
        </div>
      </div>
    </div>
    <!-- Mainbottom -->

        <!-- Bottom -->
    </div>
    </div>
  </div>
{% endblock %}
