{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Body -->
  <div id="wrapper">
    <div class="wrapper-inner">
	  {% include 'partial_menu.html' %}
    <div class="bg_cont">

    <!-- Maintop -->

    <!-- Main Content row -->
    <div id="content-row">
      <div class="row-container">
        <div class="container">
          <div class="content-inner row">

            <!-- Left sidebar -->

            <div id="component" class="span12">
              <!-- Breadcrumbs -->

              <!-- Content-top -->

                <div class="page-item page-item__">


		<div class="item_header">
      <h3 class="item_title">
        <span class="item_title_part0">Whitening and Bleaching</span>
      </h3>
    </div>

	<div class="item_fulltext">
    <p>Keeping our teeth their whitest is a lot harder than it sounds. With all the coffee, wine, smoking and other foods that have the ability to stain our teeth on a daily basis, even proper maintenance sometimes leaves them a little lackluster. Teeth whitening is an excellent way to restore the natural color of your teeth or even make them whiter than your natural color if you would like.&nbsp;</p>
<p>To accomplish the whitening of your teeth, we utilize a tray whitening system. This tray whitening system is completed in 2 steps. The first step is to make an impression of your teeth. With this impression, we'll craft you custom whitening trays that you can use over and over. Finally, you will take the whitening gel and put it in the gel for a short period of time over a period of a few days. This often results in a whiter smile of 4 - 8 shades!&nbsp;</p>
<p>Please contact us today to see if you are a candidate for this type of whitening</p>
  </div>
              <!-- Content-bottom -->
                          </div>

            <!-- Right sidebar -->
                      </div>
        </div>
      </div>
    </div>
    <!-- Mainbottom -->

        <!-- Bottom -->
    </div>
    </div>
  </div>
{% endblock %}
