<!-- Right sidebar -->
              <div id="aside-right" class="span4">
    <aside>
      <div class="moduletable "><h3 class="moduleTitle "><span class="item_title_part0">Office</span> <span class="item_title_part1">Hours</span> </h3>

<div class="mod-custom mod-custom__"  >
<div>
<div style="font-weight: bold; font-size: 16px; padding-top: 4px;">Sunday</div>
<div style="font-size: 14px; padding: 3px 0px 5px 20px;">Closed</div>
<div style="font-weight: bold; font-size: 16px; padding-top: 4px;">Monday</div>
<div style="font-size: 14px; padding: 3px 0px 5px 20px;">9:00A.M - 6:00.M</div>
<div style="font-weight: bold; font-size: 16px; padding-top: 4px;">Tuesday</div>
<div style="font-size: 14px; padding: 3px 0px 5px 20px;">9:00A.M - 6:00P.M</div>
<div style="font-weight: bold; font-size: 16px; padding-top: 4px;">Wednesday</div>
<div style="font-size: 14px; padding: 3px 0px 5px 20px;">9:00A.M - 6:00P.M</div>
<div style="font-weight: bold; font-size: 16px; padding-top: 4px;">Thursday</div>
<div style="font-size: 14px; padding: 3px 0px 5px 20px;">9:00A.M - 6:00P.M</div>
<div style="font-weight: bold; font-size: 16px; padding-top: 4px;">Friday</div>
<div style="font-size: 14px; padding: 3px 0px 5px 20px;">8:00A.M - 5:00P.M</div>
<div style="font-weight: bold; font-size: 16px; padding-top: 4px;">Saturday</div>
<div style="font-size: 14px; padding: 3px 0px 5px 20px;">CLOSED</div>
</div>
<div style="padding-top: 10px; text-align: center; font-size: 16px;">Call us to make an appointment
<div>Habla Español!</div>
</div></div>
</div>
    </aside>
  </div>
